*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button:hover{
    background-color: #2ab38e;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(225, 255, 255);
    }

#font-home{
    font-family:'Courier New', Courier, monospace;
    color: #fefffd;
}

.top{
    height: 500px;
    background-color: #B5EAEA;   
    display: flex;
    justify-content: center;
    align-items: center;

}


.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF6E5;
    height: 500px;
    font-family:'Courier New', Courier, monospace;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #FFBCBC;
    font-family:'Courier New', Courier, monospace;
}

.feedback{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #F38BA0;
    font-family:'Courier New', Courier, monospace;
}

.confidential{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    margin-top: 550px
}






